#container {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../assets/background.jpg);
  background-attachment: fixed;
  background-position: top center;
  z-index: 1;
}

#container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}

#container > *:not(.overlay) {
  position: relative;
  z-index: 3;
}

#container .title {
  padding-top: 100px;
  font-size: 48px;
  font-weight: bold;
  color: #FFF;
}

#container .input-text {
  width: 270px;
}