.console {
  padding: 8px 12px;
  flex-basis: 50%;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  background-color: #1f1f1f;
  overflow-y: hidden;
}

.controls {
  user-select: none;
  -moz-user-select: none;
  flex-basis: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}