.life-container {
  padding: 8px 12px;
  background-color: #484848;
  border-radius: 4px;
}

.life-container .life-bar {
  padding: 2px;
  background-color: #141414;
  border-radius: 5px;
  height: 6px;
}

.life-container .life-bar .life {
  height: 6px;
  background-color: #c08f5e;
  border-radius: 5px;
}

.stats {
  padding: 8px 12px;
  display: inline-flex;
  flex-direction: row;
  margin-top: 12px;

  &.mobile {
    flex-wrap: wrap;

    & > * {
      width: 140px;
    }
  }

  & > * {
    width: 170px;

    input {
      width: 60px;
      margin-right: 2px;
    }

    .btn {
      min-width: 15px;
      width: 15px;
    }
  }

  .label {
    opacity: 0.5;
  }

  .number {
    font-size: 20px;
    color: #989693;
    font-weight: 500;
  }
}

[other-stats] {
  margin-top: 34px;

  &.mobile {
    margin: 0;

    .character-stats {
      margin: 0;
      width: 100%;
    }

    .progress-stats {
      margin: 0;
    }
  }
}

.character-stats {
  margin-left: 234px;
}

.progress-stats {
  margin-left: 220px;
}

.character-stats .title, .progress-stats .title {
  font-size: 17px;
}

.character-stats .details, .progress-stats .details {
  display: inline-flex;
  flex-direction: row;
}

.character-stats .details .labels > *, .progress-stats .details .labels > * {
  margin: 3px 0;
}

.character-stats .details .values > *, .progress-stats .details .values > * {
  margin: 3px 0;
}