.list {
  width: 100%;
  margin-top: 35px;
}

.list > * {
  width: calc(100% - 24px);
  display: inline-flex;
  flex-direction: row;
}

.list > * > *:nth-of-type(1) {
  width: 60%;
}

.list > * > *:nth-of-type(2) {
  width: 40%;
}

.list .item {
  padding: 8px 12px;
}

.list .item:nth-child(even) {
  background-color: #282828;
}

.list .item:nth-child(odd) {
  background-color: #343434;
}