<div id="container">
  <div style="font-family:blackops;font-size:27px;color:#c08f5e;font-weight:bold;">
    DawnFort
  </div>

  <div class="overlay"></div>

  <div class="d-flex flex-direction-column justify-content-center align-items-center">
    <div class="title">
      Fight for your survival
    </div>

    <div class="subtitle">
      A free text-based multiplayer online browser game
    </div>

    <div id="login" style="margin-top:50px;">
      <div class="d-flex flex-direction-row">
        <div>
          <div style="font-weight:bold;">Username or Email</div>
          <input class="input-text" type="text" placeholder="Username or Email">
        </div>
        &nbsp;
        <div>
          <div style="font-weight:bold;">Password</div>
          <input class="input-text" type="password" placeholder="Password">
        </div>
        &nbsp;
        <div>
          <br>
          <div btn-login class="btn">Sign In</div>
        </div>
      </div>
      <div style="margin:20px;text-align:center;">OR</div>
      <div class="d-flex flex-direction-row justify-content-center">
        <div btn-register-step class="btn">Join the fight</div>
      </div>
    </div>

    <div id="register" style="margin-top:50px;display:none;">
      <div class="d-flex flex-direction-column">
        <div>
          <div style="font-weight:bold;">Username</div>
          <input class="input-text" type="text" placeholder="Username">
        </div>

        <div>
          <div style="font-weight:bold;">Email</div>
          <input class="input-text" type="text" placeholder="Email">
        </div>

        <div>
          <div style="font-weight:bold;">Password</div>
          <input class="input-text" type="password" placeholder="Password">
        </div>
      </div>
      <div class="d-flex flex-direction-row justify-content-center" style="margin-top:20px;">
        <div btn-register class="btn" style="width:100%;">Join</div>
      </div>
      <div style="text-align:center;margin:30px;">
        <div class="text-btn" btn-register-back>[Not ready yet]</div>
      </div>
    </div>
  </div>
</div>