<div class="page-title">Safehouse</div>

<div class="tabs" style="margin-top:16px;">
  <div ng-click="vm.view.selectedTab = 'stats'" ng-class="{'active': vm.view.selectedTab == 'stats'}">Stats</div>
  <div ng-click="vm.view.selectedTab = 'skills'" ng-class="{'active': vm.view.selectedTab == 'skills'}">Skills</div>
</div>

<div class="tab tab-content" ng-show="vm.view.selectedTab == 'stats'">
  <div class="life-container">
    <div class="d-flex flex-direction-column">
      <div>Life: {{vm.user.character.hp}}/{{vm.user.character.life}}</div>
      <div class="life-bar" style="margin-top:4px;">
        <div class="life"></div>
      </div>
    </div>
  </div>

  <div class="alert success" style="margin:12px 0;" ng-show="vm.view.trainMessageSuccess" ng-click="vm.view.trainMessageSuccess = ''">{{vm.view.trainMessageSuccess}}</div>
  <div class="alert danger" style="margin:12px 0;" ng-show="vm.view.trainMessageFail" ng-click="vm.view.trainMessageFail = ''">{{vm.view.trainMessageFail}}</div>

  <div class="stats" ng-class="{'mobile': vm.isMobile}">
    <div class="d-flex flex-direction-column" style="width:222px;">
      <div class="label">User ID</div>
      <div class="number">
        #{{vm.user.character.id}}
      </div>
    </div>

    <div class="d-flex flex-direction-column">
      <div class="label">Strength</div>
      <div class="number">
        {{vm.user.character._strength.toFixed(4)}}
      </div>
      <div class="d-flex flex-direction-row" style="margin-top:5px;">
        <input type="number" class="input-text" ng-model="vm.view.stats.pointsToSpend.strength" ng-enter="vm.addPoints('strength')">
        <div class="btn" ng-click="vm.addPoints('strength')">+</div>
      </div>
    </div>

    <div class="d-flex flex-direction-column">
      <div class="label">Agility</div>
      <div class="number">
        {{vm.user.character._agility.toFixed(4)}}
      </div>
      <div class="d-flex flex-direction-row" style="margin-top:5px;">
        <input type="number" class="input-text" ng-model="vm.view.stats.pointsToSpend.agility" ng-enter="vm.addPoints('agility')">
        <div class="btn" ng-click="vm.addPoints('agility')">+</div>
      </div>
    </div>

    <div class="d-flex flex-direction-column">
      <div class="label">Vitality</div>
      <div class="number">
        {{vm.user.character._vitality.toFixed(4)}}
      </div>
      <div class="d-flex flex-direction-row" style="margin-top:5px;">
        <input type="number" class="input-text" ng-model="vm.view.stats.pointsToSpend.vitality" ng-enter="vm.addPoints('vitality')">
        <div class="btn" ng-click="vm.addPoints('vitality')">+</div>
      </div>
    </div>

    <div class="d-flex flex-direction-column">
      <div class="label">Skill</div>
      <div class="number">
        {{vm.user.character._skill.toFixed(4)}}
      </div>
      <div class="d-flex flex-direction-row" style="margin-top:5px;">
        <input type="number" class="input-text" ng-model="vm.view.stats.pointsToSpend.skill" ng-enter="vm.addPoints('skill')">
        <div class="btn" ng-click="vm.addPoints('skill')">+</div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-direction-row" other-stats ng-class="{'mobile': vm.isMobile}">
    <div class="character-stats">
      <div class="title">Character Stats</div>
      <div class="details" style="margin-top:12px;">
        <div class="labels">
          <div>Attack:</div>
          <div>Defence:</div>
          <div>Speed:</div>
          <div>Skill:</div>
        </div>
        <div class="values" style="margin-left:35px;">
          <div>{{(vm.user.character.strength * 0.7).toFixed(2)}}</div>
          <div>{{((vm.user.character.strength * 0.025) + (vm.user.character.agility * 0.075)).toFixed(2)}}</div>
          <div>{{(vm.user.character.agility * 0.001).toFixed(2)}}</div>
          <div>{{(vm.user.character.skill * 0.7).toFixed(2)}}</div>
        </div>
      </div>
    </div>

    <div class="progress-stats">
      <div class="title">Progress Stats</div>
      <div class="details" style="margin-top:12px;">
        <div class="labels">
          <div>Zombie Kills:</div>
          <div>Player Kills:</div>
          <div>Scavenges:</div>
          <div>Revives:</div>
          <div>Explores:</div>
        </div>
        <div class="values" style="margin-left:35px;">
          <div>[Not available]</div>
          <div>[Not available]</div>
          <div>{{vm.stats.scavenges}}</div>
          <div>[Not available]</div>
          <div>[Not available]</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab tab-content" ng-show="vm.view.selectedTab == 'skills'">
  [Not available]
</div>