<div class="page-title">Scavenge</div>
<div style="margin-top:8px;line-height:20px;">So, you're looking to find some supplies? You sit down and begin thinking where you could find some. The more scavenges
you do, the easier you will be able to do them. Available scavenges are listed in order from easy to hard. Don't try the
hard ones too quickly or you could find yourself in being attacked by a zombie!</div>

<div class="list">
  <div style="padding:8px 12px;">
    <div style="color:#FFF;">Location</div>
    <div style="color:#FFF;">Nerve</div>
  </div>
  
  <div class="item" ng-repeat="area in vm.view.areas track by $index" ng-click="vm.goto($index + 1)">
    <div style="color:#FFF;" class="d-flex flex-direction-row align-items-center">{{area.name}}</div>
    <div class="d-flex flex-direction-row align-items-center" style="justify-content:space-between;">
      <div>{{area.points}}</div>
      <div class="btn" style="min-width:30px;width:30px;margin-right:12px;" ng-class="{'disabled': vm.user.character._nerve < area.points}">Go</div>
    </div>
  </div>
</div>